
@import "./variables.less";

//@height: 10px;


.banner h1 {
    font-family: @header;
    color: @primary-color;
    font-size: 4rem;
    text-decoration: none;
    justify-content: center;
    color: white;
    font-family: 'Pacifico', cursive;
}

body{
    background-color: @light-gray;
}

p{
    font-family: @paragraph;
}


html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    font-family: @header;
 
  
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @gray;
    position: static;

}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: @header;
    font-size: 1rem;

}

li a:hover:not(.active) {
    color: @primary-color;
}

.active {
    background-color: #04AA6D;
}

.containBanner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/bagelbanner.jpg");
    justify-content: center;

    background-repeat: no-repeat;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



.footer {
   
    background-color: @primary-color;
    color: black;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    
    }

.container{
    margin-bottom:50px;
}
a {
    text-decoration: none;
    outline: none;
}

.col-6 {
    background-color: #F3F3F7;
    max-width: 100%;
    margin-bottom:50px;
}


.about {
    background-color: @light-gray;

    .about-article {
        margin: 2rem;
    }
}


//menu page//
.menu {
    background-color: @light-gray;
    h1 {
        font-family: @header;
        font-size: 3rem;
        text-align: center;
        padding: 1.5rem;
    }
    h2 {
        font-family: @header;
        font-size: 3rem;
        color: @gray;
    }
    p {
        font-family: @paragraph;
        color: @gray;
        font-size: 1.875rem;
    }
}

//catering page//
.catering {
    background-color: @light-gray;
    h1 {
        font-family: @header;
        font-size: 3rem;
        text-align: center;
        padding: 1.5rem;
    }
    h2 {
        font-family: @header;
        font-size: 2rem;
        color: @gray;
        text-align: center;
    }
    p {
        font-family: @paragraph;
        color: @gray;
        font-size: 1rem;
    }
    .buton {
        margin-bottom: 1rem;
    }
}

//contact page//
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    text-align: center
    }
.info h1 {
    color: @primary-color;
    font-size: 48px;
    padding: 50px 0px 15px 0px;
    text-align: center
}
.info ul li {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    padding-bottom: 10px;
    float: none;
}
.info ul {
    padding: 0px;
    background-color: white;
}